<!doctype html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16"/>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>

    <title>Generator</title>

    <link rel="stylesheet" href="/css/main.css">

</head>
<body>

<!--[if lt IE 10]>
<p class="browserupgrade"><strong>Eski version</strong> bir internet tarayıcısı kullanıyorsunuz. Lütfen kullanılan
    ürünlerin düzgün gözükmesi için <a href="http://browsehappy.com/">Bu linkten yükseltebilirsiniz.</a></p>
<![endif]-->

<script src="/js/main.js"></script>
</body>
</html>